COMPOSE_PROJECT_NAME=helheim

### common ###
USER_ID=1000
GROUP_ID=1000
TIMEZONE=Europe/Moscow

### master ###
MASTER_DIR=/dir/source
MASTER_BUTCH_SIZE_MB=5
MASTER_INTERVAL_SEC=30
MASTER_ADDR=127.0.0.1:50051

### slave ###
SLAVE_DIR=/dir/dest
SLAVE_BUTCH_SIZE_MB=5
SLAVE_PORT=50051